$main-color: #0f4086;
//上を最後に消す
#company-img {
  background: url(../images/company.jpg) no-repeat center;
  background-size: cover;
  
}

.greeting-title,.company-title{
  text-align: center;
  padding: 3rem;
  h2{
    display:inline-block;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid $main-color;
    
}
}
.greeting-body{
  display: flex;
  padding-bottom: 3rem;

  .greeting-text{
    padding: 0 2rem;
    line-height: 1.5;
    &__img{
     text-align: right;
     padding-top: 2rem;
    }
  }
}
@media (max-width: 992px) {
  .greeting-body{
    flex-direction: column;
    align-items: center;
    .greeting-text{
      order: -1;
      padding-bottom: 3rem;
      }
    
  }
  .greeting-title,.company-title{
    
    h2{
      font-size: 1.3rem;
    }
  }
}
.company{
  padding-bottom: 3rem;
}
.company-body{
  display: flex;
  padding-top: 2rem;

  .title{
    font-size: 1rem;
    background-color: $main-color;
    opacity: 0.9;
    color: #fff;
    width: 20%;
    text-align: center;
    padding: 0.5rem;
  }
  
  td{
    padding: 0.5rem 1rem;
    border-bottom:solid 1px #fff;
  }
  table {
    table-layout: fixed;
    // word-wrap: break-word;
    width: 50%;
    line-height: 1.5;
  }
}
.date{
  width: 20%;
}
caption{
  margin-bottom: 1rem;
  
}

@media (max-width: 992px) {
  .company-body{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    .date{
      width: 30%;
    }
    table {
      margin-bottom: 3rem;
      width: auto;
    }
  }
}
@media (max-width: 782px) {
  .company-body{
    font-size: 0.8rem;
    .title{
      font-size: .8rem;
    }
    
  }
}
