$main-color: #0f4086;
@mixin img-full {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
//上を最後に消す
#recruit-img {
  background: url(../images/slide-image2.jpg) no-repeat center;
  background-size: cover;
}
.recruit-body {
  .container {
    display: flex;
    justify-content: center;
  }
  .tab {
    font-size: 1.5rem;
  }
  .recruit-list {
    h3 {
      font-size: 1.5rem;
      font-weight: 400;
      color: $main-color;
      padding: 1rem 0;
    }
    th {
      background-color: $main-color;
      padding: 1rem;
      color: #fff;
      font-weight: 400;
      border-bottom: solid 1px #fff;
      vertical-align: middle;
    }
    td {
      padding: 1rem;
      line-height: 1.2;
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      padding: 2rem 0;
    }
  }
}
.recruitment {
  & > div {
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    a {
      color: #fff;
      font-weight: 400;
    }
  }
}
.interview-title {
  width: auto;
  height: 20vh;
  background-color: #0f4086;
  opacity: 0.8;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: #fff;
    font-size: 1.5rem;
}
}

.interview-img {
  img {
    @include img-full;
  }
}
.interview-group {
  background: url(/images/interview-bg.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.8;
}
.interview-body {
  padding: 2rem;
  &.right {
    position: relative;
    top: 100px;
  }
}
.interview-container {
  width: auto;
  padding: 5rem 5rem;
}
.interview-text {
  background-color: #fff;
  padding: 2rem;
  margin-top: -2px;
  p{
    padding: 0.2rem;
  }
  span {
    font-size: 1.5rem;
  }
}
.interview-wrap {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:768px){
  .interview-wrap {
    
    display: flex;
    flex-direction: column;
  }
  .interview-body.right {
    top: 0px; 
  }
  .interview-container {
    padding: 3rem;
  }
}
@media screen and (max-width:568px){
  .interview-wrap {
    padding: 0 ;
  }
}