// 共通部分
$main-color: #0f4086;

@mixin img-full {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.fadeIn_item{
  &.offs,
  .offs &{
    opacity: 0;
    transform: translateY(50px);
  }

  &.ons,
  .ons &{
    transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
    opacity: 1;
    transform: translateY(0);
  }
}
// ハンバーガー
.burger-btn{
  display: block;      
  width: 39px;      
  height: 39px;      
  position: relative;      
  z-index: 3;
  border:none;    
}    
.bar{      
  width: 20px;      
  height: 1px;        
  display: block;      
  position: absolute;      
  left: 50%;      
  transform: translateX(-50%);      
  background-color: #000;    
}    
.bar_top{   
  top: 10px;
}
.bar_mid{    
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 10px;
}
.burger-btn.close .bar_top{      
  transform: translate(-50%,10px) rotate(45deg);      
  transition: transform .3s;    
}    
.burger-btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.close .bar_bottom{      
transform: translate(-50%,-8px) rotate(-45deg);      
transition: transform .3s;    
}
.burger-btn{
  display: none;
}
.nav-wrapper{
  display: block;
}
@media screen and (max-width:992px){
  /* ----------------------- */
  /* base_sp
  /* ----------------------- */
  

  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */
  .header{
      padding: 0 5%;
  }
  .burger-btn{
      display: block;
      width: 39px;
      height: 39px;
      position: relative;
      z-index: 3;
  /*   codepenの挙動のため */
    background-color:transparent;
    border:none;
    }
    .bar{
      width: 20px;
      height: 1px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(32, 32, 32);
    }
    .bar_top{
      top: 10px;
    }
    .bar_mid{
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .bar_bottom{
      bottom: 10px;
    }
    .burger-btn.close .bar_top{
      transform: translate(-50%,10px) rotate(45deg);
      transition: transform .3s;
    }
    .burger-btn.close .bar_mid{
      opacity: 0;
      transition: opacity .3s;
    }
    .burger-btn.close .bar_bottom{
      transform: translate(-50%,-8px) rotate(-45deg);
      transition: transform .3s;
    }
    .nav-wrapper{
      display: none;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
     }
     .header-nav{
        width: 100%;
        height: 100%;
        background-color:#f3f1f1;
        z-index: 2;
      }
     .header-nav .nav-list{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      }
      .header-nav .nav-item{
        margin-right: 0;
        margin-bottom: 40px;
      }
  
  /* ------------------ */
  /* fv */
  /* ------------------ */
  .main-copy{
    font-size: 30px;
  }
  
  /* ------------------ */
  /* about */
  /* ------------------ */
  h3{
      font-size: 20px;
      margin-bottom: 30px;
  }
  .section-wrapper{
      padding:100px 5% 50px;  
  }


}  
  
body.noscroll{
  overflow: hidden;
}
// ハンバーガー終わり

.btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: $main-color;
  border-bottom: solid 2px #5a87c7;
  border-radius: 4px; /*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  &:active {
    border-bottom: solid 2px $main-color;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
}
section {
  padding-top: 2.5rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.col2{
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .col2 {
    flex-direction: column;
  }
}

// 共通部分終わり
header{
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;

}
.menu {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}
.menu-list {
  display: flex;
  justify-content: space-around;

  li {
    padding: 1rem;
  }
}
.contact {
  padding: 1rem; 
  a {
    color: #fff;
    margin: 0 auto;
  }
}

#slider {
  width: 100%;
  height: 80vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

.news {
  color: $main-color;
  &-title {
   
    text-align: center;
    h2{
      display:inline-block;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid $main-color;
    }
  }
  &-list {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
    .news-data {
      padding-bottom: 1rem;
    }
    .news-item {
      border-left: solid 1px $main-color;
      margin: 2rem;
      padding: 2rem;
    }
  }
  &-button {
    padding: 1rem 2rem;
    display: block;
    margin: 0 auto;

    a {
      color: #fff;
      font-size: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .news {
    &-list {
      flex-direction: column;
      flex-basis: 100%;
      .news-data {
        padding-bottom: 0;
      }
      .news-item {
        margin: 2rem;
        padding: 0.5rem;
      }
    }
    
  }
}

.service {
  background: url("../images/main-bg.png") no-repeat center;

  width: auto;
  height: 80vh;
  &-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-right {
    display: flex;
    align-items: flex-end;
    height: 50vh;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 768px) {
  .service {
    &-text {
      flex-direction: column;
    }
    h2 {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

.work-title{
  text-align: center;
  padding-bottom: 2rem;
  h2{

    display:inline-block;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid $main-color;
  }
}
.work-wrap{
    
    .work-contents{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vh;
        height: 25vh;
        margin: 1rem;
    }
    .work-text{
        font-size: 1.5rem;
        color: #fff;
        text-shadow: 1px 2px 3px #808080;
    }
    .work-bg1{
        background: url("../images/img_business01.jpg") no-repeat ;
        background-size:cover; 
    }
    .work-bg2{
        background: url("../images/img_business02.jpg") no-repeat ;
        background-size:cover; 

    }
    .work-bg3{
        background: url("../images/img_business03.png") no-repeat ;
        background-size:cover; 

    }
    .work-bg4{
        background: url("../images/img_business04.png") no-repeat ;
        background-size:cover; 

    }
    @media (max-width: 768px) {
      .work-contents{
        
        width: auto;
        margin: 1rem 0;
    }
    }
}


.recruit {
  height: 30vh;
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-text {
    width: 30%;
    flex-basis: 40%;
    text-align: center;
    h2 {
      position: absolute;
      left: 15%;
      font-size: 2rem;
      color: #fff;
      z-index: 5;
    }
  }
  &-img {
    flex-basis: 60%;
    height: 30vh;
    img {
      @include img-full;
    }
  }
  &-cover {
    position: absolute;
    top: 2.5rem;
    height: 30vh;
    width: 100%;
    background-color: $main-color;
    opacity: 0.8;
    z-index: 1;
  }
}


footer{
    background-color: $main-color;
    opacity: 0.8;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .footer-list{
        display: flex;
        justify-content: center;
        li{
            padding: 1rem;
            a{
                color: #fff;
            }
        }
    }
    
    .copyright{
        color: #fff;
        text-align: center;
    }
}

@media screen and (max-width:992px){
  footer{
    height: 30vh;
    .footer-list{
        flex-wrap: wrap;
    }

  }
}