@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.fadeIn_item.offs,
.offs .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fadeIn_item.ons,
.ons .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.burger-btn {
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
}

.bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

.bar_top {
  top: 10px;
}

.bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 10px;
}

.burger-btn.close .bar_top {
  -webkit-transform: translate(-50%, 10px) rotate(45deg);
          transform: translate(-50%, 10px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
  -webkit-transform: translate(-50%, -8px) rotate(-45deg);
          transform: translate(-50%, -8px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.burger-btn {
  display: none;
}

.nav-wrapper {
  display: block;
}

@media screen and (max-width: 992px) {
  /* ----------------------- */
  /* base_sp
  /* ----------------------- */
  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */
  .header {
    padding: 0 5%;
  }
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    /*   codepenの挙動のため */
    background-color: transparent;
    border: none;
  }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #202020;
  }
  .bar_top {
    top: 10px;
  }
  .bar_mid {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .bar_bottom {
    bottom: 10px;
  }
  .burger-btn.close .bar_top {
    -webkit-transform: translate(-50%, 10px) rotate(45deg);
            transform: translate(-50%, 10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg);
            transform: translate(-50%, -8px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .nav-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    /*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
  }
  .header-nav {
    width: 100%;
    height: 100%;
    background-color: #f3f1f1;
    z-index: 2;
  }
  .header-nav .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-nav .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  /* ------------------ */
  /* fv */
  /* ------------------ */
  .main-copy {
    font-size: 30px;
  }
  /* ------------------ */
  /* about */
  /* ------------------ */
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .section-wrapper {
    padding: 100px 5% 50px;
  }
}

body.noscroll {
  overflow: hidden;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background: #0f4086;
  border-bottom: solid 2px #5a87c7;
  border-radius: 4px;
  /*角の丸み*/
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
          box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn:active {
  border-bottom: solid 2px #0f4086;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

section {
  padding-top: 2.5rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .col2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-list li {
  padding: 1rem;
}

.contact {
  padding: 1rem;
}

.contact a {
  color: #fff;
  margin: 0 auto;
}

#slider {
  width: 100%;
  height: 80vh;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

.news {
  color: #0f4086;
}

.news-title {
  text-align: center;
}

.news-title h2 {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid #0f4086;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.news-list .news-data {
  padding-bottom: 1rem;
}

.news-list .news-item {
  border-left: solid 1px #0f4086;
  margin: 2rem;
  padding: 2rem;
}

.news-button {
  padding: 1rem 2rem;
  display: block;
  margin: 0 auto;
}

.news-button a {
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .news-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .news-list .news-data {
    padding-bottom: 0;
  }
  .news-list .news-item {
    margin: 2rem;
    padding: 0.5rem;
  }
}

.service {
  background: url("../images/main-bg.png") no-repeat center;
  width: auto;
  height: 80vh;
}

.service-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50vh;
}

.service h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .service-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.work-title {
  text-align: center;
  padding-bottom: 2rem;
}

.work-title h2 {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid #0f4086;
}

.work-wrap .work-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vh;
  height: 25vh;
  margin: 1rem;
}

.work-wrap .work-text {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 2px 3px #808080;
}

.work-wrap .work-bg1 {
  background: url("../images/img_business01.jpg") no-repeat;
  background-size: cover;
}

.work-wrap .work-bg2 {
  background: url("../images/img_business02.jpg") no-repeat;
  background-size: cover;
}

.work-wrap .work-bg3 {
  background: url("../images/img_business03.png") no-repeat;
  background-size: cover;
}

.work-wrap .work-bg4 {
  background: url("../images/img_business04.png") no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .work-wrap .work-contents {
    width: auto;
    margin: 1rem 0;
  }
}

.recruit {
  height: 30vh;
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
}

.recruit-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recruit-text {
  width: 30%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
}

.recruit-text h2 {
  position: absolute;
  left: 15%;
  font-size: 2rem;
  color: #fff;
  z-index: 5;
}

.recruit-img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 30vh;
}

.recruit-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recruit-cover {
  position: absolute;
  top: 2.5rem;
  height: 30vh;
  width: 100%;
  background-color: #0f4086;
  opacity: 0.8;
  z-index: 1;
}

footer {
  background-color: #0f4086;
  opacity: 0.8;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-list li {
  padding: 1rem;
}

footer .footer-list li a {
  color: #fff;
}

footer .copyright {
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 992px) {
  footer {
    height: 30vh;
  }
  footer .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#work-img {
  background: url(../images/slide-image1.jpg) no-repeat center;
  background-size: cover;
}

.main-img {
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.main-img h1 {
  width: 80%;
  font-size: 2rem;
  text-shadow: 1px 2px 3px #e2e1e1;
}

.business .business-body {
  padding: 2rem 0;
}

.business .business-title {
  text-align: center;
  padding: 2rem;
}

.business h2 {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid #0f4086;
}

.business .business-img {
  height: 50vh;
  width: 100%;
}

.business .business-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.business .business-text {
  font-size: 1.5rem;
  line-height: 2;
  padding: 3rem;
}

@media (max-width: 768px) {
  .business .business-text {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 1rem;
  }
}

.maker-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.maker-list ul li {
  padding: 0.5rem;
}

.maker-list h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.maker-list h3 {
  font-size: 1.3rem;
  padding: 1.5rem 1rem;
}

.maker-list .txt > h3 {
  font-size: 1.1rem;
  padding-bottom: 0rem;
}
/*# sourceMappingURL=work.css.map */